trunk/QuanLyKhachSan/Service References/ManagementUserSVC/ManagementUser3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Web.Security" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Web.Security" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1109/QuanLyKhachSan.WebServices/Services/QuanLyUser/ManagementUser.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="MembershipUserCollection">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_Indices" nillable="true" type="q1:ArrayOfKeyValueOfanyTypeanyType" />
      <xs:element name="_ReadOnly" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_Values" nillable="true" type="q2:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MembershipUserCollection" nillable="true" type="tns:MembershipUserCollection" />
</xs:schema>