trunk/QuanLyKhachSan/Service References/QuocTichSVC/QuocTich3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QuocTichInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="QuocTichID" type="xs:int" />
      <xs:element minOccurs="0" name="TenQuocTich" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuocTichInfo" nillable="true" type="tns:QuocTichInfo" />
  <xs:complexType name="ArrayOfQuocTichInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuocTichInfo" nillable="true" type="tns:QuocTichInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuocTichInfo" nillable="true" type="tns:ArrayOfQuocTichInfo" />
</xs:schema>