trunk/QuanLyKhachSan/Service References/QuocTichSVC/QuocTich1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/QuanLyKhachHang/QuocTich.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" />
  <xs:element name="QuocTich_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TenQuocTich" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuocTich_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QuocTich_Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuocTichID" type="xs:int" />
        <xs:element minOccurs="0" name="TenQuocTich" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuocTich_EditResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QuocTich_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuocTichID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuocTich_DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QuocTich_GetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QuocTichID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuocTich_GetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="QuocTich_GetItemResult" nillable="true" type="q1:QuocTichInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuocTich_GetItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="QuocTich_GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="QuocTich_GetItemsResult" nillable="true" type="q2:ArrayOfQuocTichInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>