trunk/QuanLyKhachSan/Service References/HoaDonSVC/HoaDon2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HoaDonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatThanhToan" type="xs:int" />
      <xs:element minOccurs="0" name="GhiChu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GioRa" type="xs:int" />
      <xs:element minOccurs="0" name="GioVao" type="xs:int" />
      <xs:element minOccurs="0" name="HoaDonID" type="xs:int" />
      <xs:element minOccurs="0" name="KhoanKhac" type="xs:decimal" />
      <xs:element minOccurs="0" name="KhuyenMai" type="xs:decimal" />
      <xs:element minOccurs="0" name="ModifiedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgayRa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgayRa_So" type="xs:int" />
      <xs:element minOccurs="0" name="NgayVao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgayVao_So" type="xs:int" />
      <xs:element minOccurs="0" name="PhutRa" type="xs:int" />
      <xs:element minOccurs="0" name="PhutVao" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HoaDonInfo" nillable="true" type="tns:HoaDonInfo" />
</xs:schema>