trunk/QuanLyKhachSan/Service References/HoaDonSVC/HoaDon1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HoaDon_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDon_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>