trunk/QuanLyKhachSan/Service References/HoaDonSVC/HoaDon1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/HoaDon/HoaDon.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" />
  <xs:element name="HoaDon_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoaiThue" type="xs:int" />
        <xs:element minOccurs="0" name="Ca" type="xs:int" />
        <xs:element minOccurs="0" name="LoaiHoaDon" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="KhuyenMai" type="xs:decimal" />
        <xs:element minOccurs="0" name="GhiChu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NgayVao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NgayVao_So" type="xs:int" />
        <xs:element minOccurs="0" name="GioVao" type="xs:int" />
        <xs:element minOccurs="0" name="PhutVao" type="xs:int" />
        <xs:element minOccurs="0" name="ThangVao" type="xs:int" />
        <xs:element minOccurs="0" name="NamVao" type="xs:int" />
        <xs:element minOccurs="0" name="NgayRa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NgayRa_So" type="xs:int" />
        <xs:element minOccurs="0" name="GioRa" type="xs:int" />
        <xs:element minOccurs="0" name="PhutRa" type="xs:int" />
        <xs:element minOccurs="0" name="ThangRa" type="xs:int" />
        <xs:element minOccurs="0" name="NamRa" type="xs:int" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDon_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDon_GetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HoaDonID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDon_GetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="HoaDon_GetItemResult" nillable="true" type="q1:HoaDonInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDon_ThanhToan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HoaDonID" type="xs:int" />
        <xs:element minOccurs="0" name="TongTien" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDon_ThanhToanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>