QuanLyKhachSan/Service References/HoaDonDichVuSVC/HoaDonDichVu2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HoaDonDichVuInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DichVuID" type="xs:int" />
      <xs:element minOccurs="0" name="DichVuName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DonGia" type="xs:decimal" />
      <xs:element minOccurs="0" name="HoTen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoaDonID" type="xs:int" />
      <xs:element minOccurs="0" name="HoaDon_DichVuID" type="xs:int" />
      <xs:element minOccurs="0" name="KhachHangID" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nam" type="xs:int" />
      <xs:element minOccurs="0" name="NgaySo" type="xs:int" />
      <xs:element minOccurs="0" name="NgaySuDung" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhongID" type="xs:int" />
      <xs:element minOccurs="0" name="PhongName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoLuong" type="xs:int" />
      <xs:element minOccurs="0" name="Thang" type="xs:int" />
      <xs:element minOccurs="0" name="TongTien" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HoaDonDichVuInfo" nillable="true" type="tns:HoaDonDichVuInfo" />
  <xs:complexType name="ArrayOfHoaDonDichVuInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HoaDonDichVuInfo" nillable="true" type="tns:HoaDonDichVuInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHoaDonDichVuInfo" nillable="true" type="tns:ArrayOfHoaDonDichVuInfo" />
  <xs:complexType name="HoaDonNgayVaoRaInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="GioRa" type="xs:int" />
      <xs:element minOccurs="0" name="GioVao" type="xs:int" />
      <xs:element minOccurs="0" name="HoaDonID" type="xs:int" />
      <xs:element minOccurs="0" name="NamRa" type="xs:int" />
      <xs:element minOccurs="0" name="NamVao" type="xs:int" />
      <xs:element minOccurs="0" name="NgayRa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgayRa_So" type="xs:int" />
      <xs:element minOccurs="0" name="NgayVao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgayVao_So" type="xs:int" />
      <xs:element minOccurs="0" name="PhutRa" type="xs:int" />
      <xs:element minOccurs="0" name="PhutVao" type="xs:int" />
      <xs:element minOccurs="0" name="ThangRa" type="xs:int" />
      <xs:element minOccurs="0" name="ThangVao" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HoaDonNgayVaoRaInfo" nillable="true" type="tns:HoaDonNgayVaoRaInfo" />
</xs:schema>