QuanLyKhachSan/Service References/HoaDonDichVuSVC/HoaDonDichVu1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/HoaDonDichVu/HoaDonDichVu.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" />
  <xs:element name="HoaDonDichVu_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HoaDonID" type="xs:int" />
        <xs:element minOccurs="0" name="PhongID" type="xs:int" />
        <xs:element minOccurs="0" name="DichVuID" type="xs:int" />
        <xs:element minOccurs="0" name="KhachHangID" type="xs:int" />
        <xs:element minOccurs="0" name="NgaySuDung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SoLuong" type="xs:int" />
        <xs:element minOccurs="0" name="DonGia" type="xs:decimal" />
        <xs:element minOccurs="0" name="TongTien" type="xs:decimal" />
        <xs:element minOccurs="0" name="CreatedByUser" type="xs:int" />
        <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDonDichVu_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDonDichVu_Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HoaDon_DichVuID" type="xs:int" />
        <xs:element minOccurs="0" name="HoaDonID" type="xs:int" />
        <xs:element minOccurs="0" name="PhongID" type="xs:int" />
        <xs:element minOccurs="0" name="DichVuID" type="xs:int" />
        <xs:element minOccurs="0" name="KhachHangID" type="xs:int" />
        <xs:element minOccurs="0" name="NgaySuDung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SoLuong" type="xs:int" />
        <xs:element minOccurs="0" name="DonGia" type="xs:decimal" />
        <xs:element minOccurs="0" name="TongTien" type="xs:decimal" />
        <xs:element minOccurs="0" name="ModifiedByUser" type="xs:int" />
        <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDonDichVu_EditResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDonDichVu_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HoaDon_DichVuID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDonDichVu_DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDonDichVu_GetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HoaDon_DichVuID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDonDichVu_GetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="HoaDonDichVu_GetItemResult" nillable="true" type="q1:HoaDonDichVuInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDonDichVu_GetItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HoaDon_DichVuID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDonDichVu_GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="HoaDonDichVu_GetItemsResult" nillable="true" type="q2:ArrayOfHoaDonDichVuInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>