trunk/QuanLyKhachSan/Service References/KhachHangSVC/KhachHang2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/QuanLyKhachHang/KhachHang.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" />
  <xs:element name="KhachHang_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HoTen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DiaChi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DienThoai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CMND" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NgaySinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NoiSinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SoVisa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ThoiHanVisa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NguoiTiepNhan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NgayNhapCanh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TamTruTuNgay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TamTruDenNgay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="QuocTichID" type="xs:int" />
        <xs:element minOccurs="0" name="GioiTinh" type="xs:int" />
        <xs:element minOccurs="0" name="CreatedByUser" type="xs:int" />
        <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KhachHang_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KhachHang_Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KhachHangID" type="xs:int" />
        <xs:element minOccurs="0" name="HoTen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DiaChi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DienThoai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CMND" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NgaySinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NoiSinh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SoVisa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ThoiHanVisa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NguoiTiepNhan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NgayNhapCanh" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TamTruTuNgay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TamTruDenNgay" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="QuocTichID" type="xs:int" />
        <xs:element minOccurs="0" name="GioiTinh" type="xs:int" />
        <xs:element minOccurs="0" name="ModifiedByUser" type="xs:int" />
        <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KhachHang_EditResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KhachHang_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KhachHangID" type="xs:int" />
        <xs:element minOccurs="0" name="DeletedByUser" type="xs:int" />
        <xs:element minOccurs="0" name="DeletedDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KhachHang_DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KhachHang_GetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KhachHangID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KhachHang_GetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="KhachHang_GetItemResult" nillable="true" type="q1:KhachHangInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KhachHang_GetItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KhachHangID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KhachHang_GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="KhachHang_GetItemsResult" nillable="true" type="q2:ArrayOfKhachHangInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KhachHang_GetItemsInPhong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhongID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KhachHang_GetItemsInPhongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="KhachHang_GetItemsInPhongResult" nillable="true" type="q3:ArrayOfKhachHangInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>