QuanLyKhachSan/Service References/HoaDon_KhachHangSVC/HoaDon_KhachHang.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/HoaDon/HoaDon_KhachHang.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/HoaDon/HoaDon_KhachHang.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/HoaDon/HoaDon_KhachHang.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="HoaDon_KhachHangSVC_HoaDon_KhachHang_Add_InputMessage">
    <wsdl:part name="parameters" element="HoaDon_KhachHang_Add" />
  </wsdl:message>
  <wsdl:message name="HoaDon_KhachHangSVC_HoaDon_KhachHang_Add_OutputMessage">
    <wsdl:part name="parameters" element="HoaDon_KhachHang_AddResponse" />
  </wsdl:message>
  <wsdl:message name="HoaDon_KhachHangSVC_Phong_KhachHang_GetItems_InputMessage">
    <wsdl:part name="parameters" element="Phong_KhachHang_GetItems" />
  </wsdl:message>
  <wsdl:message name="HoaDon_KhachHangSVC_Phong_KhachHang_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="Phong_KhachHang_GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="HoaDon_KhachHangSVC_Phong_KhachHang_Delete_InputMessage">
    <wsdl:part name="parameters" element="Phong_KhachHang_Delete" />
  </wsdl:message>
  <wsdl:message name="HoaDon_KhachHangSVC_Phong_KhachHang_Delete_OutputMessage">
    <wsdl:part name="parameters" element="Phong_KhachHang_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="HoaDon_KhachHangSVC_Phong_KhachHang_DatPhong_InputMessage">
    <wsdl:part name="parameters" element="Phong_KhachHang_DatPhong" />
  </wsdl:message>
  <wsdl:message name="HoaDon_KhachHangSVC_Phong_KhachHang_DatPhong_OutputMessage">
    <wsdl:part name="parameters" element="Phong_KhachHang_DatPhongResponse" />
  </wsdl:message>
  <wsdl:portType name="HoaDon_KhachHangSVC">
    <wsdl:operation name="HoaDon_KhachHang_Add">
      <wsdl:input wsaw:Action="urn:HoaDon_KhachHangSVC/HoaDon_KhachHang_Add" message="HoaDon_KhachHangSVC_HoaDon_KhachHang_Add_InputMessage" />
      <wsdl:output wsaw:Action="urn:HoaDon_KhachHangSVC/HoaDon_KhachHang_AddResponse" message="HoaDon_KhachHangSVC_HoaDon_KhachHang_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Phong_KhachHang_GetItems">
      <wsdl:input wsaw:Action="urn:HoaDon_KhachHangSVC/Phong_KhachHang_GetItems" message="HoaDon_KhachHangSVC_Phong_KhachHang_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="urn:HoaDon_KhachHangSVC/Phong_KhachHang_GetItemsResponse" message="HoaDon_KhachHangSVC_Phong_KhachHang_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Phong_KhachHang_Delete">
      <wsdl:input wsaw:Action="urn:HoaDon_KhachHangSVC/Phong_KhachHang_Delete" message="HoaDon_KhachHangSVC_Phong_KhachHang_Delete_InputMessage" />
      <wsdl:output wsaw:Action="urn:HoaDon_KhachHangSVC/Phong_KhachHang_DeleteResponse" message="HoaDon_KhachHangSVC_Phong_KhachHang_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Phong_KhachHang_DatPhong">
      <wsdl:input wsaw:Action="urn:HoaDon_KhachHangSVC/Phong_KhachHang_DatPhong" message="HoaDon_KhachHangSVC_Phong_KhachHang_DatPhong_InputMessage" />
      <wsdl:output wsaw:Action="urn:HoaDon_KhachHangSVC/Phong_KhachHang_DatPhongResponse" message="HoaDon_KhachHangSVC_Phong_KhachHang_DatPhong_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>