QuanLyKhachSan/Service References/DichVuSVC/DichVu3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1109/QuanLyKhachSan.WebServices/Services/QuanLyPhong/DichVu.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" />
  <xs:element name="DichVu_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DichVuName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GiaTien" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DichVu_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DichVu_Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DichVuID" type="xs:int" />
        <xs:element minOccurs="0" name="DichVuName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GiaTien" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DichVu_EditResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DichVu_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DichVuID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DichVu_DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DichVu_GetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DichVuID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DichVu_GetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="DichVu_GetItemResult" nillable="true" type="q1:DichVuInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DichVu_GetItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DichVu_GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="DichVu_GetItemsResult" nillable="true" type="q2:ArrayOfDichVuInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DichVu_Edit_SL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DichVuID" type="xs:int" />
        <xs:element minOccurs="0" name="SL" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DichVu_Edit_SLResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>