trunk/QuanLyKhachSan/Service References/PhongSVC/Phong.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/QuanLyPhong/Phong.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/QuanLyPhong/Phong.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/QuanLyPhong/Phong.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" />
      <xsd:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/QuanLyPhong/Phong.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PhongSVC_Phong_Add_InputMessage">
    <wsdl:part name="parameters" element="Phong_Add" />
  </wsdl:message>
  <wsdl:message name="PhongSVC_Phong_Add_OutputMessage">
    <wsdl:part name="parameters" element="Phong_AddResponse" />
  </wsdl:message>
  <wsdl:message name="PhongSVC_Phong_Edit_InputMessage">
    <wsdl:part name="parameters" element="Phong_Edit" />
  </wsdl:message>
  <wsdl:message name="PhongSVC_Phong_Edit_OutputMessage">
    <wsdl:part name="parameters" element="Phong_EditResponse" />
  </wsdl:message>
  <wsdl:message name="PhongSVC_Phong_Delete_InputMessage">
    <wsdl:part name="parameters" element="Phong_Delete" />
  </wsdl:message>
  <wsdl:message name="PhongSVC_Phong_Delete_OutputMessage">
    <wsdl:part name="parameters" element="Phong_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="PhongSVC_Phong_GetItem_InputMessage">
    <wsdl:part name="parameters" element="Phong_GetItem" />
  </wsdl:message>
  <wsdl:message name="PhongSVC_Phong_GetItem_OutputMessage">
    <wsdl:part name="parameters" element="Phong_GetItemResponse" />
  </wsdl:message>
  <wsdl:message name="PhongSVC_Phong_GetItems_InputMessage">
    <wsdl:part name="parameters" element="Phong_GetItems" />
  </wsdl:message>
  <wsdl:message name="PhongSVC_Phong_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="Phong_GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="PhongSVC_Phong_SoDoCay_InputMessage">
    <wsdl:part name="parameters" element="Phong_SoDoCay" />
  </wsdl:message>
  <wsdl:message name="PhongSVC_Phong_SoDoCay_OutputMessage">
    <wsdl:part name="parameters" element="Phong_SoDoCayResponse" />
  </wsdl:message>
  <wsdl:message name="PhongSVC_Phong_GetItems_ByTinhTrang_InputMessage">
    <wsdl:part name="parameters" element="Phong_GetItems_ByTinhTrang" />
  </wsdl:message>
  <wsdl:message name="PhongSVC_Phong_GetItems_ByTinhTrang_OutputMessage">
    <wsdl:part name="parameters" element="Phong_GetItems_ByTinhTrangResponse" />
  </wsdl:message>
  <wsdl:message name="PhongSVC_Phong_GetItemsOnService_InputMessage">
    <wsdl:part name="parameters" element="Phong_GetItemsOnService" />
  </wsdl:message>
  <wsdl:message name="PhongSVC_Phong_GetItemsOnService_OutputMessage">
    <wsdl:part name="parameters" element="Phong_GetItemsOnServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="PhongSVC">
    <wsdl:operation name="Phong_Add">
      <wsdl:input wsaw:Action="urn:PhongSVC/Phong_Add" message="PhongSVC_Phong_Add_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhongSVC/Phong_AddResponse" message="PhongSVC_Phong_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Phong_Edit">
      <wsdl:input wsaw:Action="urn:PhongSVC/Phong_Edit" message="PhongSVC_Phong_Edit_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhongSVC/Phong_EditResponse" message="PhongSVC_Phong_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Phong_Delete">
      <wsdl:input wsaw:Action="urn:PhongSVC/Phong_Delete" message="PhongSVC_Phong_Delete_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhongSVC/Phong_DeleteResponse" message="PhongSVC_Phong_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Phong_GetItem">
      <wsdl:input wsaw:Action="urn:PhongSVC/Phong_GetItem" message="PhongSVC_Phong_GetItem_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhongSVC/Phong_GetItemResponse" message="PhongSVC_Phong_GetItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Phong_GetItems">
      <wsdl:input wsaw:Action="urn:PhongSVC/Phong_GetItems" message="PhongSVC_Phong_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhongSVC/Phong_GetItemsResponse" message="PhongSVC_Phong_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Phong_SoDoCay">
      <wsdl:input wsaw:Action="urn:PhongSVC/Phong_SoDoCay" message="PhongSVC_Phong_SoDoCay_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhongSVC/Phong_SoDoCayResponse" message="PhongSVC_Phong_SoDoCay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Phong_GetItems_ByTinhTrang">
      <wsdl:input wsaw:Action="urn:PhongSVC/Phong_GetItems_ByTinhTrang" message="PhongSVC_Phong_GetItems_ByTinhTrang_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhongSVC/Phong_GetItems_ByTinhTrangResponse" message="PhongSVC_Phong_GetItems_ByTinhTrang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Phong_GetItemsOnService">
      <wsdl:input wsaw:Action="urn:PhongSVC/Phong_GetItemsOnService" message="PhongSVC_Phong_GetItemsOnService_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhongSVC/Phong_GetItemsOnServiceResponse" message="PhongSVC_Phong_GetItemsOnService_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>