trunk/QuanLyKhachSan/Service References/PhongSVC/Phong1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PhongInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoaiPhongID" type="xs:int" />
      <xs:element minOccurs="0" name="LoaiPhongName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhongID" type="xs:int" />
      <xs:element minOccurs="0" name="PhongName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoGiuong" type="xs:int" />
      <xs:element minOccurs="0" name="SoNguoi" type="xs:int" />
      <xs:element minOccurs="0" name="TienNghiID" type="xs:int" />
      <xs:element minOccurs="0" name="TienNghiName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhongInfo" nillable="true" type="tns:PhongInfo" />
  <xs:complexType name="ArrayOfPhongInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhongInfo" nillable="true" type="tns:PhongInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhongInfo" nillable="true" type="tns:ArrayOfPhongInfo" />
  <xs:complexType name="ArrayOfTinhTrang_PhongInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TinhTrang_PhongInfo" nillable="true" type="tns:TinhTrang_PhongInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTinhTrang_PhongInfo" nillable="true" type="tns:ArrayOfTinhTrang_PhongInfo" />
  <xs:complexType name="TinhTrang_PhongInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="GioBatDau" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="NgayBatDau_So" type="xs:int" />
      <xs:element minOccurs="0" name="NgayGioPhut_So" type="xs:long" />
      <xs:element minOccurs="0" name="PhongID" type="xs:int" />
      <xs:element minOccurs="0" name="PhongName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhutBatDau" type="xs:int" />
      <xs:element minOccurs="0" name="TinhTrangPhong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TinhTrangPhongID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TinhTrang_PhongInfo" nillable="true" type="tns:TinhTrang_PhongInfo" />
</xs:schema>