QuanLyKhachSan/Service References/ModuleSVC/Module1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfModuleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModuleInfo" nillable="true" type="tns:ModuleInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModuleInfo" nillable="true" type="tns:ArrayOfModuleInfo" />
  <xs:complexType name="ModuleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsEdit" type="xs:int" />
      <xs:element minOccurs="0" name="IsView" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleID" type="xs:int" />
      <xs:element minOccurs="0" name="ModuleKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TabID" type="xs:int" />
      <xs:element minOccurs="0" name="TabName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewOrder" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModuleInfo" nillable="true" type="tns:ModuleInfo" />
</xs:schema>