QuanLyKhachSan/Service References/LoaiPhongSVC/LoaiPhong3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/QuanLyPhong/LoaiPhong.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" />
  <xs:element name="LoaiPhong_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoaiPhongName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoaiPhong_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoaiPhong_Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoaiPhongID" type="xs:int" />
        <xs:element minOccurs="0" name="LoaiPhongName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoaiPhong_EditResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoaiPhong_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoaiPhongID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoaiPhong_DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoaiPhong_GetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoaiPhongID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoaiPhong_GetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="LoaiPhong_GetItemResult" nillable="true" type="q1:LoaiPhongInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoaiPhong_GetItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoaiPhong_GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="LoaiPhong_GetItemsResult" nillable="true" type="q2:ArrayOfLoaiPhongInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>