trunk/QuanLyKhachSan/Service References/Gio_PhongSVC/Gio_Phong.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/QuanLyPhong/Gio_Phong.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/QuanLyPhong/Gio_Phong.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/QuanLyPhong/Gio_Phong.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Gio_PhongSVC_Gio_Phong_Add_InputMessage">
    <wsdl:part name="parameters" element="Gio_Phong_Add" />
  </wsdl:message>
  <wsdl:message name="Gio_PhongSVC_Gio_Phong_Add_OutputMessage">
    <wsdl:part name="parameters" element="Gio_Phong_AddResponse" />
  </wsdl:message>
  <wsdl:message name="Gio_PhongSVC_Gio_Phong_Edit_InputMessage">
    <wsdl:part name="parameters" element="Gio_Phong_Edit" />
  </wsdl:message>
  <wsdl:message name="Gio_PhongSVC_Gio_Phong_Edit_OutputMessage">
    <wsdl:part name="parameters" element="Gio_Phong_EditResponse" />
  </wsdl:message>
  <wsdl:message name="Gio_PhongSVC_Gio_Phong_Delete_InputMessage">
    <wsdl:part name="parameters" element="Gio_Phong_Delete" />
  </wsdl:message>
  <wsdl:message name="Gio_PhongSVC_Gio_Phong_Delete_OutputMessage">
    <wsdl:part name="parameters" element="Gio_Phong_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="Gio_PhongSVC_Gio_Phong_GetItem_InputMessage">
    <wsdl:part name="parameters" element="Gio_Phong_GetItem" />
  </wsdl:message>
  <wsdl:message name="Gio_PhongSVC_Gio_Phong_GetItem_OutputMessage">
    <wsdl:part name="parameters" element="Gio_Phong_GetItemResponse" />
  </wsdl:message>
  <wsdl:message name="Gio_PhongSVC_Gio_Phong_GetItems_InputMessage">
    <wsdl:part name="parameters" element="Gio_Phong_GetItems" />
  </wsdl:message>
  <wsdl:message name="Gio_PhongSVC_Gio_Phong_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="Gio_Phong_GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="Gio_PhongSVC_Gio_Phong_GiaGoc_InputMessage">
    <wsdl:part name="parameters" element="Gio_Phong_GiaGoc" />
  </wsdl:message>
  <wsdl:message name="Gio_PhongSVC_Gio_Phong_GiaGoc_OutputMessage">
    <wsdl:part name="parameters" element="Gio_Phong_GiaGocResponse" />
  </wsdl:message>
  <wsdl:message name="Gio_PhongSVC_Gio_Phong_KiemTraStatus_InputMessage">
    <wsdl:part name="parameters" element="Gio_Phong_KiemTraStatus" />
  </wsdl:message>
  <wsdl:message name="Gio_PhongSVC_Gio_Phong_KiemTraStatus_OutputMessage">
    <wsdl:part name="parameters" element="Gio_Phong_KiemTraStatusResponse" />
  </wsdl:message>
  <wsdl:message name="Gio_PhongSVC_Gio_Phong_GetItemByPhongID_InputMessage">
    <wsdl:part name="parameters" element="Gio_Phong_GetItemByPhongID" />
  </wsdl:message>
  <wsdl:message name="Gio_PhongSVC_Gio_Phong_GetItemByPhongID_OutputMessage">
    <wsdl:part name="parameters" element="Gio_Phong_GetItemByPhongIDResponse" />
  </wsdl:message>
  <wsdl:portType name="Gio_PhongSVC">
    <wsdl:operation name="Gio_Phong_Add">
      <wsdl:input wsaw:Action="urn:Gio_PhongSVC/Gio_Phong_Add" message="Gio_PhongSVC_Gio_Phong_Add_InputMessage" />
      <wsdl:output wsaw:Action="urn:Gio_PhongSVC/Gio_Phong_AddResponse" message="Gio_PhongSVC_Gio_Phong_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Gio_Phong_Edit">
      <wsdl:input wsaw:Action="urn:Gio_PhongSVC/Gio_Phong_Edit" message="Gio_PhongSVC_Gio_Phong_Edit_InputMessage" />
      <wsdl:output wsaw:Action="urn:Gio_PhongSVC/Gio_Phong_EditResponse" message="Gio_PhongSVC_Gio_Phong_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Gio_Phong_Delete">
      <wsdl:input wsaw:Action="urn:Gio_PhongSVC/Gio_Phong_Delete" message="Gio_PhongSVC_Gio_Phong_Delete_InputMessage" />
      <wsdl:output wsaw:Action="urn:Gio_PhongSVC/Gio_Phong_DeleteResponse" message="Gio_PhongSVC_Gio_Phong_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Gio_Phong_GetItem">
      <wsdl:input wsaw:Action="urn:Gio_PhongSVC/Gio_Phong_GetItem" message="Gio_PhongSVC_Gio_Phong_GetItem_InputMessage" />
      <wsdl:output wsaw:Action="urn:Gio_PhongSVC/Gio_Phong_GetItemResponse" message="Gio_PhongSVC_Gio_Phong_GetItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Gio_Phong_GetItems">
      <wsdl:input wsaw:Action="urn:Gio_PhongSVC/Gio_Phong_GetItems" message="Gio_PhongSVC_Gio_Phong_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="urn:Gio_PhongSVC/Gio_Phong_GetItemsResponse" message="Gio_PhongSVC_Gio_Phong_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Gio_Phong_GiaGoc">
      <wsdl:input wsaw:Action="urn:Gio_PhongSVC/Gio_Phong_GiaGoc" message="Gio_PhongSVC_Gio_Phong_GiaGoc_InputMessage" />
      <wsdl:output wsaw:Action="urn:Gio_PhongSVC/Gio_Phong_GiaGocResponse" message="Gio_PhongSVC_Gio_Phong_GiaGoc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Gio_Phong_KiemTraStatus">
      <wsdl:input wsaw:Action="urn:Gio_PhongSVC/Gio_Phong_KiemTraStatus" message="Gio_PhongSVC_Gio_Phong_KiemTraStatus_InputMessage" />
      <wsdl:output wsaw:Action="urn:Gio_PhongSVC/Gio_Phong_KiemTraStatusResponse" message="Gio_PhongSVC_Gio_Phong_KiemTraStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Gio_Phong_GetItemByPhongID">
      <wsdl:input wsaw:Action="urn:Gio_PhongSVC/Gio_Phong_GetItemByPhongID" message="Gio_PhongSVC_Gio_Phong_GetItemByPhongID_InputMessage" />
      <wsdl:output wsaw:Action="urn:Gio_PhongSVC/Gio_Phong_GetItemByPhongIDResponse" message="Gio_PhongSVC_Gio_Phong_GetItemByPhongID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>