trunk/QuanLyKhachSan/Service References/Gio_PhongSVC/Gio_Phong3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Gio_PhongInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="GiaTien" type="xs:decimal" />
      <xs:element minOccurs="0" name="GioPhongName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gio_PhongID" type="xs:int" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhanTram" type="xs:int" />
      <xs:element minOccurs="0" name="PhongID" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Gio_PhongInfo" nillable="true" type="tns:Gio_PhongInfo" />
  <xs:complexType name="ArrayOfGio_PhongInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Gio_PhongInfo" nillable="true" type="tns:Gio_PhongInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGio_PhongInfo" nillable="true" type="tns:ArrayOfGio_PhongInfo" />
</xs:schema>