QuanLyKhachSan/Service References/KhachHangSVC/KhachHang3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="KhachHangInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CMND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedByUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeletedByUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeletedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiaChi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DienThoai" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GioiTinh" type="xs:int" />
      <xs:element minOccurs="0" name="HoTen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:int" />
      <xs:element minOccurs="0" name="KhachHangID" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedByUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgayNhapCanh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgaySinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NguoiTiepNhan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoiSinh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuocTichID" type="xs:int" />
      <xs:element minOccurs="0" name="SoVisa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TamTruDenNgay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TamTruTuNgay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThoiHanVisa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KhachHangInfo" nillable="true" type="tns:KhachHangInfo" />
  <xs:complexType name="ArrayOfKhachHangInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KhachHangInfo" nillable="true" type="tns:KhachHangInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKhachHangInfo" nillable="true" type="tns:ArrayOfKhachHangInfo" />
</xs:schema>