QuanLyKhachSan/Service References/AuthenticationSVC/Authentication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/Authentication/Authentication.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/Authentication/Authentication.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticationSVC_Authentication_SetSession_InputMessage">
    <wsdl:part name="parameters" element="Authentication_SetSession" />
  </wsdl:message>
  <wsdl:message name="AuthenticationSVC_Authentication_SetSession_OutputMessage">
    <wsdl:part name="parameters" element="Authentication_SetSessionResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticationSVC_Authentication_CheckAccount_InputMessage">
    <wsdl:part name="parameters" element="Authentication_CheckAccount" />
  </wsdl:message>
  <wsdl:message name="AuthenticationSVC_Authentication_CheckAccount_OutputMessage">
    <wsdl:part name="parameters" element="Authentication_CheckAccountResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticationSVC_Authentication_GetSession_InputMessage">
    <wsdl:part name="parameters" element="Authentication_GetSession" />
  </wsdl:message>
  <wsdl:message name="AuthenticationSVC_Authentication_GetSession_OutputMessage">
    <wsdl:part name="parameters" element="Authentication_GetSessionResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthenticationSVC">
    <wsdl:operation name="Authentication_SetSession">
      <wsdl:input wsaw:Action="urn:AuthenticationSVC/Authentication_SetSession" message="AuthenticationSVC_Authentication_SetSession_InputMessage" />
      <wsdl:output wsaw:Action="urn:AuthenticationSVC/Authentication_SetSessionResponse" message="AuthenticationSVC_Authentication_SetSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authentication_CheckAccount">
      <wsdl:input wsaw:Action="urn:AuthenticationSVC/Authentication_CheckAccount" message="AuthenticationSVC_Authentication_CheckAccount_InputMessage" />
      <wsdl:output wsaw:Action="urn:AuthenticationSVC/Authentication_CheckAccountResponse" message="AuthenticationSVC_Authentication_CheckAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authentication_GetSession">
      <wsdl:input wsaw:Action="urn:AuthenticationSVC/Authentication_GetSession" message="AuthenticationSVC_Authentication_GetSession_InputMessage" />
      <wsdl:output wsaw:Action="urn:AuthenticationSVC/Authentication_GetSessionResponse" message="AuthenticationSVC_Authentication_GetSession_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>