trunk/QuanLyKhachSan/Service References/HoaDon_KhachHangSVC/HoaDon_KhachHang.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="HoaDon_KhachHang_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KhachHangId" type="xs:int" />
        <xs:element minOccurs="0" name="PhongID" type="xs:int" />
        <xs:element minOccurs="0" name="NgayBatDau" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GioBatDau" type="xs:int" />
        <xs:element minOccurs="0" name="PhutBatDau" type="xs:int" />
        <xs:element minOccurs="0" name="NgayBatDau_So" type="xs:int" />
        <xs:element minOccurs="0" name="ThangBatDau" type="xs:int" />
        <xs:element minOccurs="0" name="NamBatDau" type="xs:int" />
        <xs:element minOccurs="0" name="NgayKetThuc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDon_KhachHang_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>