QuanLyKhachSan/Service References/QuocTichSVC/QuocTich1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:1109/QuanLyKhachSan.WebServices/Services/QuanLyKhachHang/QuocTich.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:1109/QuanLyKhachSan.WebServices/Services/QuanLyKhachHang/QuocTich.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1109/QuanLyKhachSan.WebServices/Services/QuanLyKhachHang/QuocTich.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="QuocTichSVC_QuocTich_Add_InputMessage">
    <wsdl:part name="parameters" element="QuocTich_Add" />
  </wsdl:message>
  <wsdl:message name="QuocTichSVC_QuocTich_Add_OutputMessage">
    <wsdl:part name="parameters" element="QuocTich_AddResponse" />
  </wsdl:message>
  <wsdl:message name="QuocTichSVC_QuocTich_Edit_InputMessage">
    <wsdl:part name="parameters" element="QuocTich_Edit" />
  </wsdl:message>
  <wsdl:message name="QuocTichSVC_QuocTich_Edit_OutputMessage">
    <wsdl:part name="parameters" element="QuocTich_EditResponse" />
  </wsdl:message>
  <wsdl:message name="QuocTichSVC_QuocTich_Delete_InputMessage">
    <wsdl:part name="parameters" element="QuocTich_Delete" />
  </wsdl:message>
  <wsdl:message name="QuocTichSVC_QuocTich_Delete_OutputMessage">
    <wsdl:part name="parameters" element="QuocTich_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="QuocTichSVC_QuocTich_GetItem_InputMessage">
    <wsdl:part name="parameters" element="QuocTich_GetItem" />
  </wsdl:message>
  <wsdl:message name="QuocTichSVC_QuocTich_GetItem_OutputMessage">
    <wsdl:part name="parameters" element="QuocTich_GetItemResponse" />
  </wsdl:message>
  <wsdl:message name="QuocTichSVC_QuocTich_GetItems_InputMessage">
    <wsdl:part name="parameters" element="QuocTich_GetItems" />
  </wsdl:message>
  <wsdl:message name="QuocTichSVC_QuocTich_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="QuocTich_GetItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="QuocTichSVC">
    <wsdl:operation name="QuocTich_Add">
      <wsdl:input wsaw:Action="urn:QuocTichSVC/QuocTich_Add" message="QuocTichSVC_QuocTich_Add_InputMessage" />
      <wsdl:output wsaw:Action="urn:QuocTichSVC/QuocTich_AddResponse" message="QuocTichSVC_QuocTich_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuocTich_Edit">
      <wsdl:input wsaw:Action="urn:QuocTichSVC/QuocTich_Edit" message="QuocTichSVC_QuocTich_Edit_InputMessage" />
      <wsdl:output wsaw:Action="urn:QuocTichSVC/QuocTich_EditResponse" message="QuocTichSVC_QuocTich_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuocTich_Delete">
      <wsdl:input wsaw:Action="urn:QuocTichSVC/QuocTich_Delete" message="QuocTichSVC_QuocTich_Delete_InputMessage" />
      <wsdl:output wsaw:Action="urn:QuocTichSVC/QuocTich_DeleteResponse" message="QuocTichSVC_QuocTich_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuocTich_GetItem">
      <wsdl:input wsaw:Action="urn:QuocTichSVC/QuocTich_GetItem" message="QuocTichSVC_QuocTich_GetItem_InputMessage" />
      <wsdl:output wsaw:Action="urn:QuocTichSVC/QuocTich_GetItemResponse" message="QuocTichSVC_QuocTich_GetItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QuocTich_GetItems">
      <wsdl:input wsaw:Action="urn:QuocTichSVC/QuocTich_GetItems" message="QuocTichSVC_QuocTich_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="urn:QuocTichSVC/QuocTich_GetItemsResponse" message="QuocTichSVC_QuocTich_GetItems_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>