trunk/QuanLyKhachSan/Service References/LoaiPhongSVC/LoaiPhong32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoaiPhongInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoaiPhongID" type="xs:int" />
      <xs:element minOccurs="0" name="LoaiPhongName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoaiPhongInfo" nillable="true" type="tns:LoaiPhongInfo" />
  <xs:complexType name="ArrayOfLoaiPhongInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LoaiPhongInfo" nillable="true" type="tns:LoaiPhongInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLoaiPhongInfo" nillable="true" type="tns:ArrayOfLoaiPhongInfo" />
</xs:schema>