trunk/QuanLyKhachSan/Service References/Ngay_PhongSVC/Ngay_Phong.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/QuanLyPhong/Ngay_Phong.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" />
  <xs:element name="Ngay_Phong_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListPhongID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GiaNgay" type="xs:decimal" />
        <xs:element minOccurs="0" name="GiaTuan" type="xs:decimal" />
        <xs:element minOccurs="0" name="GiaThang" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ngay_Phong_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Ngay_Phong_GetItemByPhongID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhongID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ngay_Phong_GetItemByPhongIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="Ngay_Phong_GetItemByPhongIDResult" nillable="true" type="q1:Ngay_PhongInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>