trunk/QuanLyKhachSan/Service References/Ngay_PhongSVC/Ngay_Phong32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Ngay_PhongInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="GiaNgay" type="xs:decimal" />
      <xs:element minOccurs="0" name="GiaThang" type="xs:decimal" />
      <xs:element minOccurs="0" name="GiaTuan" type="xs:decimal" />
      <xs:element minOccurs="0" name="Ngay_PhongID" type="xs:int" />
      <xs:element minOccurs="0" name="PhongID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ngay_PhongInfo" nillable="true" type="tns:Ngay_PhongInfo" />
</xs:schema>