trunk/QuanLyKhachSan/Service References/PhieuNhapKhoSVC/PhieuNhapKho2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PhieuNhapKhoInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChiTietPhieuNhapID" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeletedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="DeletedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DichVuID" type="xs:int" />
      <xs:element minOccurs="0" name="DichVuName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DonGia" type="xs:decimal" />
      <xs:element minOccurs="0" name="GhiChu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NamNhap" type="xs:int" />
      <xs:element minOccurs="0" name="NgayNhap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgayNhapSo" type="xs:int" />
      <xs:element minOccurs="0" name="PhieuNhapKhoID" type="xs:int" />
      <xs:element minOccurs="0" name="SoLuong" type="xs:int" />
      <xs:element minOccurs="0" name="ThangNhap" type="xs:int" />
      <xs:element minOccurs="0" name="TongTien" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhieuNhapKhoInfo" nillable="true" type="tns:PhieuNhapKhoInfo" />
  <xs:complexType name="ArrayOfPhieuNhapKhoInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhieuNhapKhoInfo" nillable="true" type="tns:PhieuNhapKhoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhieuNhapKhoInfo" nillable="true" type="tns:ArrayOfPhieuNhapKhoInfo" />
</xs:schema>