trunk/QuanLyKhachSan/Service References/TienNghiSVC/TienNghi32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TienNghiInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="TienNghiID" type="xs:int" />
      <xs:element minOccurs="0" name="TienNghiName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TienNghi_UuTien" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TienNghiInfo" nillable="true" type="tns:TienNghiInfo" />
  <xs:complexType name="ArrayOfTienNghiInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TienNghiInfo" nillable="true" type="tns:TienNghiInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTienNghiInfo" nillable="true" type="tns:ArrayOfTienNghiInfo" />
</xs:schema>