trunk/QuanLyKhachSan/Service References/ChiTietPhieuNhapKhoSVC/ChiTietPhieuNhapKho.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ChiTietPhieuNhapKhoInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChiTietPhieuNhapID" type="xs:int" />
      <xs:element minOccurs="0" name="DichVuID" type="xs:int" />
      <xs:element minOccurs="0" name="DichVuName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DonGia" type="xs:decimal" />
      <xs:element minOccurs="0" name="PhieuNhapKhoID" type="xs:int" />
      <xs:element minOccurs="0" name="SoLuong" type="xs:int" />
      <xs:element minOccurs="0" name="TongTien" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChiTietPhieuNhapKhoInfo" nillable="true" type="tns:ChiTietPhieuNhapKhoInfo" />
  <xs:complexType name="ArrayOfChiTietPhieuNhapKhoInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChiTietPhieuNhapKhoInfo" nillable="true" type="tns:ChiTietPhieuNhapKhoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChiTietPhieuNhapKhoInfo" nillable="true" type="tns:ArrayOfChiTietPhieuNhapKhoInfo" />
</xs:schema>