trunk/QuanLyKhachSan/Service References/ChiTietPhieuNhapKhoSVC/ChiTietPhieuNhapKho1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/HoaDonDichVu/ChiTietPhieuNhapKho.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" />
  <xs:element name="ChiTietPhieuNhapKho_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhieuNhapKhoID" type="xs:int" />
        <xs:element minOccurs="0" name="SoLuong" type="xs:int" />
        <xs:element minOccurs="0" name="DonGia" type="xs:decimal" />
        <xs:element minOccurs="0" name="ThanhTien" type="xs:decimal" />
        <xs:element minOccurs="0" name="DichVuID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietPhieuNhapKho_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietPhieuNhapKho_Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChiTietPhieuNhapKho" type="xs:int" />
        <xs:element minOccurs="0" name="PhieuNhapKhoID" type="xs:int" />
        <xs:element minOccurs="0" name="SoLuong" type="xs:int" />
        <xs:element minOccurs="0" name="DonGia" type="xs:decimal" />
        <xs:element minOccurs="0" name="ThanhTien" type="xs:decimal" />
        <xs:element minOccurs="0" name="DichVuID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietPhieuNhapKho_EditResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietPhieuNhapKho_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChiTietPhieuNhapKho" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietPhieuNhapKho_DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietPhieuNhapKho_GetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChiTietPhieuNhapKho" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietPhieuNhapKho_GetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="ChiTietPhieuNhapKho_GetItemResult" nillable="true" type="q1:ChiTietPhieuNhapKhoInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>