QuanLyKhachSan/Service References/Nguoi_PhongSVC/Nguoi_Phong1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:1109/QuanLyKhachSan.WebServices/Services/QuanLyPhong/Nguoi_Phong.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:1109/QuanLyKhachSan.WebServices/Services/QuanLyPhong/Nguoi_Phong.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1109/QuanLyKhachSan.WebServices/Services/QuanLyPhong/Nguoi_Phong.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Nguoi_PhongSVC_Nguoi_Phong_Add_InputMessage">
    <wsdl:part name="parameters" element="Nguoi_Phong_Add" />
  </wsdl:message>
  <wsdl:message name="Nguoi_PhongSVC_Nguoi_Phong_Add_OutputMessage">
    <wsdl:part name="parameters" element="Nguoi_Phong_AddResponse" />
  </wsdl:message>
  <wsdl:message name="Nguoi_PhongSVC_Nguoi_Phong_GetItemByPhongID_InputMessage">
    <wsdl:part name="parameters" element="Nguoi_Phong_GetItemByPhongID" />
  </wsdl:message>
  <wsdl:message name="Nguoi_PhongSVC_Nguoi_Phong_GetItemByPhongID_OutputMessage">
    <wsdl:part name="parameters" element="Nguoi_Phong_GetItemByPhongIDResponse" />
  </wsdl:message>
  <wsdl:portType name="Nguoi_PhongSVC">
    <wsdl:operation name="Nguoi_Phong_Add">
      <wsdl:input wsaw:Action="urn:Nguoi_PhongSVC/Nguoi_Phong_Add" message="Nguoi_PhongSVC_Nguoi_Phong_Add_InputMessage" />
      <wsdl:output wsaw:Action="urn:Nguoi_PhongSVC/Nguoi_Phong_AddResponse" message="Nguoi_PhongSVC_Nguoi_Phong_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Nguoi_Phong_GetItemByPhongID">
      <wsdl:input wsaw:Action="urn:Nguoi_PhongSVC/Nguoi_Phong_GetItemByPhongID" message="Nguoi_PhongSVC_Nguoi_Phong_GetItemByPhongID_InputMessage" />
      <wsdl:output wsaw:Action="urn:Nguoi_PhongSVC/Nguoi_Phong_GetItemByPhongIDResponse" message="Nguoi_PhongSVC_Nguoi_Phong_GetItemByPhongID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>