QuanLyKhachSan/Service References/Nguoi_PhongSVC/Nguoi_Phong1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/QuanLyPhong/Nguoi_Phong.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" />
  <xs:element name="Nguoi_Phong_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListPhongID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ListNguoiPhongName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ListCongThem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CongThemTiepTheo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nguoi_Phong_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Nguoi_Phong_GetItemByPhongID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhongID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nguoi_Phong_GetItemByPhongIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="Nguoi_Phong_GetItemByPhongIDResult" nillable="true" type="q1:ArrayOfNguoi_PhongInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>