QuanLyKhachSan/Service References/Nguoi_PhongSVC/Nguoi_Phong.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNguoi_PhongInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Nguoi_PhongInfo" nillable="true" type="tns:Nguoi_PhongInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNguoi_PhongInfo" nillable="true" type="tns:ArrayOfNguoi_PhongInfo" />
  <xs:complexType name="Nguoi_PhongInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CongThem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GiaTien" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NguoiPhongName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nguoi_PhongID" type="xs:int" />
      <xs:element minOccurs="0" name="PhanTram" type="xs:int" />
      <xs:element minOccurs="0" name="PhongID" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Nguoi_PhongInfo" nillable="true" type="tns:Nguoi_PhongInfo" />
</xs:schema>