QuanLyKhachSan/Service References/TKDoanhThuDichVuSVC/TKDoanhThuDichVu1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/ThongKeBaoCao/TKDoanhThuDichVu.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" />
  <xs:element name="HoaDonDichVu_GetItems_TheoNgay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NgaySo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDonDichVu_GetItems_TheoNgayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="HoaDonDichVu_GetItems_TheoNgayResult" nillable="true" type="q1:ArrayOfTKDoanhThuDichVuInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDonDichVu_GetItems_TheoThang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Thang" type="xs:int" />
        <xs:element minOccurs="0" name="Nam" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDonDichVu_GetItems_TheoThangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="HoaDonDichVu_GetItems_TheoThangResult" nillable="true" type="q2:ArrayOfTKDoanhThuDichVuInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDonDichVu_GetItems_TheoNam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nam" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDonDichVu_GetItems_TheoNamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="HoaDonDichVu_GetItems_TheoNamResult" nillable="true" type="q3:ArrayOfTKDoanhThuDichVuInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDonDichVu_GetItems_TuNgayDenNgay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TuNgaySo" type="xs:int" />
        <xs:element minOccurs="0" name="DenNgaySo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDonDichVu_GetItems_TuNgayDenNgayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="HoaDonDichVu_GetItems_TuNgayDenNgayResult" nillable="true" type="q4:ArrayOfTKDoanhThuDichVuInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>