QuanLyKhachSan/Service References/TKDoanhThuDichVuSVC/TKDoanhThuDichVu.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/ThongKeBaoCao/TKDoanhThuDichVu.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/ThongKeBaoCao/TKDoanhThuDichVu.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/ThongKeBaoCao/TKDoanhThuDichVu.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TKDoanhThuDichVuSVC_HoaDonDichVu_GetItems_TheoNgay_InputMessage">
    <wsdl:part name="parameters" element="HoaDonDichVu_GetItems_TheoNgay" />
  </wsdl:message>
  <wsdl:message name="TKDoanhThuDichVuSVC_HoaDonDichVu_GetItems_TheoNgay_OutputMessage">
    <wsdl:part name="parameters" element="HoaDonDichVu_GetItems_TheoNgayResponse" />
  </wsdl:message>
  <wsdl:message name="TKDoanhThuDichVuSVC_HoaDonDichVu_GetItems_TheoThang_InputMessage">
    <wsdl:part name="parameters" element="HoaDonDichVu_GetItems_TheoThang" />
  </wsdl:message>
  <wsdl:message name="TKDoanhThuDichVuSVC_HoaDonDichVu_GetItems_TheoThang_OutputMessage">
    <wsdl:part name="parameters" element="HoaDonDichVu_GetItems_TheoThangResponse" />
  </wsdl:message>
  <wsdl:message name="TKDoanhThuDichVuSVC_HoaDonDichVu_GetItems_TheoNam_InputMessage">
    <wsdl:part name="parameters" element="HoaDonDichVu_GetItems_TheoNam" />
  </wsdl:message>
  <wsdl:message name="TKDoanhThuDichVuSVC_HoaDonDichVu_GetItems_TheoNam_OutputMessage">
    <wsdl:part name="parameters" element="HoaDonDichVu_GetItems_TheoNamResponse" />
  </wsdl:message>
  <wsdl:message name="TKDoanhThuDichVuSVC_HoaDonDichVu_GetItems_TuNgayDenNgay_InputMessage">
    <wsdl:part name="parameters" element="HoaDonDichVu_GetItems_TuNgayDenNgay" />
  </wsdl:message>
  <wsdl:message name="TKDoanhThuDichVuSVC_HoaDonDichVu_GetItems_TuNgayDenNgay_OutputMessage">
    <wsdl:part name="parameters" element="HoaDonDichVu_GetItems_TuNgayDenNgayResponse" />
  </wsdl:message>
  <wsdl:portType name="TKDoanhThuDichVuSVC">
    <wsdl:operation name="HoaDonDichVu_GetItems_TheoNgay">
      <wsdl:input wsaw:Action="urn:TKDoanhThuDichVuSVC/HoaDonDichVu_GetItems_TheoNgay" message="TKDoanhThuDichVuSVC_HoaDonDichVu_GetItems_TheoNgay_InputMessage" />
      <wsdl:output wsaw:Action="urn:TKDoanhThuDichVuSVC/HoaDonDichVu_GetItems_TheoNgayResponse" message="TKDoanhThuDichVuSVC_HoaDonDichVu_GetItems_TheoNgay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HoaDonDichVu_GetItems_TheoThang">
      <wsdl:input wsaw:Action="urn:TKDoanhThuDichVuSVC/HoaDonDichVu_GetItems_TheoThang" message="TKDoanhThuDichVuSVC_HoaDonDichVu_GetItems_TheoThang_InputMessage" />
      <wsdl:output wsaw:Action="urn:TKDoanhThuDichVuSVC/HoaDonDichVu_GetItems_TheoThangResponse" message="TKDoanhThuDichVuSVC_HoaDonDichVu_GetItems_TheoThang_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HoaDonDichVu_GetItems_TheoNam">
      <wsdl:input wsaw:Action="urn:TKDoanhThuDichVuSVC/HoaDonDichVu_GetItems_TheoNam" message="TKDoanhThuDichVuSVC_HoaDonDichVu_GetItems_TheoNam_InputMessage" />
      <wsdl:output wsaw:Action="urn:TKDoanhThuDichVuSVC/HoaDonDichVu_GetItems_TheoNamResponse" message="TKDoanhThuDichVuSVC_HoaDonDichVu_GetItems_TheoNam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HoaDonDichVu_GetItems_TuNgayDenNgay">
      <wsdl:input wsaw:Action="urn:TKDoanhThuDichVuSVC/HoaDonDichVu_GetItems_TuNgayDenNgay" message="TKDoanhThuDichVuSVC_HoaDonDichVu_GetItems_TuNgayDenNgay_InputMessage" />
      <wsdl:output wsaw:Action="urn:TKDoanhThuDichVuSVC/HoaDonDichVu_GetItems_TuNgayDenNgayResponse" message="TKDoanhThuDichVuSVC_HoaDonDichVu_GetItems_TuNgayDenNgay_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>