trunk/QuanLyKhachSan/Service References/Gia_PhongSVC/Gia_Phong3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGia_PhongInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Gia_PhongInfo" nillable="true" type="tns:Gia_PhongInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGia_PhongInfo" nillable="true" type="tns:ArrayOfGia_PhongInfo" />
  <xs:complexType name="Gia_PhongInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="GiaGio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GiaNgay" type="xs:decimal" />
      <xs:element minOccurs="0" name="GiaThang" type="xs:decimal" />
      <xs:element minOccurs="0" name="GiaTuan" type="xs:decimal" />
      <xs:element minOccurs="0" name="PhongID" type="xs:int" />
      <xs:element minOccurs="0" name="PhongName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Gia_PhongInfo" nillable="true" type="tns:Gia_PhongInfo" />
</xs:schema>