trunk/QuanLyKhachSan/Service References/Gia_PhongSVC/Gia_Phong32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1109/QuanLyKhachSan.WebServices/Services/QuanLyPhong/Gia_Phong.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" />
  <xs:element name="Phong_GiaPhong">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Phong_GiaPhongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="Phong_GiaPhongResult" nillable="true" type="q1:ArrayOfGia_PhongInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>