trunk/QuanLyKhachSan/Service References/HoaDon_TraTruocSVC/HoaDon_TraTruoc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HoaDon_TraTruocInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GhiChu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoaDonID" type="xs:int" />
      <xs:element minOccurs="0" name="HoaDon_TraTruocID" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TraTruoc" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HoaDon_TraTruocInfo" nillable="true" type="tns:HoaDon_TraTruocInfo" />
  <xs:complexType name="ArrayOfHoaDon_TraTruocInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HoaDon_TraTruocInfo" nillable="true" type="tns:HoaDon_TraTruocInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHoaDon_TraTruocInfo" nillable="true" type="tns:ArrayOfHoaDon_TraTruocInfo" />
</xs:schema>