trunk/QuanLyKhachSan/Service References/UserGroupSVC/UserGroup2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserGroupInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserGroupInfo" nillable="true" type="tns:UserGroupInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserGroupInfo" nillable="true" type="tns:ArrayOfUserGroupInfo" />
  <xs:complexType name="UserGroupInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupID" type="xs:int" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsTrialUsed" type="xs:int" />
      <xs:element minOccurs="0" name="ListGroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedByUser" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserGroupInfo" nillable="true" type="tns:UserGroupInfo" />
</xs:schema>