trunk/QuanLyKhachSan/Service References/TKDoanhThuSVC/TKDoanhThu.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTKDoanhThuInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TKDoanhThuInfo" nillable="true" type="tns:TKDoanhThuInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTKDoanhThuInfo" nillable="true" type="tns:ArrayOfTKDoanhThuInfo" />
  <xs:complexType name="TKDoanhThuInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ca" type="xs:int" />
      <xs:element minOccurs="0" name="DaThanhToan" type="xs:int" />
      <xs:element minOccurs="0" name="HoaDonID" type="xs:int" />
      <xs:element minOccurs="0" name="LoaiThue" type="xs:int" />
      <xs:element minOccurs="0" name="NgayRa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NgayVao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TongTien" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TKDoanhThuInfo" nillable="true" type="tns:TKDoanhThuInfo" />
</xs:schema>