trunk/QuanLyKhachSan/Service References/TKDoanhThuSVC/TKDoanhThu2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/ThongKeBaoCao/TKDoanhThu.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" />
  <xs:element name="HoaDon_GetItems_DaThanhToan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDon_GetItems_DaThanhToanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="HoaDon_GetItems_DaThanhToanResult" nillable="true" type="q1:ArrayOfTKDoanhThuInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDon_GetItems_TheoNgay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NgayRaSo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDon_GetItems_TheoNgayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="HoaDon_GetItems_TheoNgayResult" nillable="true" type="q2:ArrayOfTKDoanhThuInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDon_GetItems_TheoThang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThangRa" type="xs:int" />
        <xs:element minOccurs="0" name="NamRa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDon_GetItems_TheoThangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="HoaDon_GetItems_TheoThangResult" nillable="true" type="q3:ArrayOfTKDoanhThuInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDon_GetItems_TheoNam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NamRa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDon_GetItems_TheoNamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="HoaDon_GetItems_TheoNamResult" nillable="true" type="q4:ArrayOfTKDoanhThuInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDon_GetItems_TuNgayDenNgay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TuNgaySo" type="xs:int" />
        <xs:element minOccurs="0" name="DenNgaySo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HoaDon_GetItems_TuNgayDenNgayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="HoaDon_GetItems_TuNgayDenNgayResult" nillable="true" type="q5:ArrayOfTKDoanhThuInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>