QuanLyKhachSan/Service References/PhieuNhapKhoSVC/PhieuNhapKho32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1109/QuanLyKhachSan.WebServices/Services/HoaDonDichVu/PhieuNhapKho.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" />
  <xs:element name="PhieuNhapKho_Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NgayNhap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ThangNhap" type="xs:int" />
        <xs:element minOccurs="0" name="NamNhap" type="xs:int" />
        <xs:element minOccurs="0" name="NgayNhapSo" type="xs:int" />
        <xs:element minOccurs="0" name="GhiChu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedByUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhapKho_AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhapKho_Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhieuNhapKhoID" type="xs:int" />
        <xs:element minOccurs="0" name="NgayNhap" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ThangNhap" type="xs:int" />
        <xs:element minOccurs="0" name="NamNhap" type="xs:int" />
        <xs:element minOccurs="0" name="NgayNhapSo" type="xs:int" />
        <xs:element minOccurs="0" name="GhiChu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModifiedByUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhapKho_EditResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhapKho_Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhieuNhapKhoID" type="xs:int" />
        <xs:element minOccurs="0" name="DeletedByUser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeletedDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhapKho_DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhapKho_GetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PhieuNhapKhoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhapKho_GetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="PhieuNhapKho_GetItemResult" nillable="true" type="q1:PhieuNhapKhoInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhapKho_GetItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhapKho_GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="PhieuNhapKho_GetItemsResult" nillable="true" type="q2:ArrayOfPhieuNhapKhoInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhapKho_GetLatestItem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PhieuNhapKho_GetLatestItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" minOccurs="0" name="PhieuNhapKho_GetLatestItemResult" nillable="true" type="q3:PhieuNhapKhoInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>