QuanLyKhachSan/Service References/PhieuNhapKhoSVC/PhieuNhapKho.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/HoaDonDichVu/PhieuNhapKho.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/HoaDonDichVu/PhieuNhapKho.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6246/QuanLyKhachSan.WebServices/Services/HoaDonDichVu/PhieuNhapKho.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/QuanLyKhachSan" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PhieuNhapKhoSVC_PhieuNhapKho_Add_InputMessage">
    <wsdl:part name="parameters" element="PhieuNhapKho_Add" />
  </wsdl:message>
  <wsdl:message name="PhieuNhapKhoSVC_PhieuNhapKho_Add_OutputMessage">
    <wsdl:part name="parameters" element="PhieuNhapKho_AddResponse" />
  </wsdl:message>
  <wsdl:message name="PhieuNhapKhoSVC_PhieuNhapKho_Edit_InputMessage">
    <wsdl:part name="parameters" element="PhieuNhapKho_Edit" />
  </wsdl:message>
  <wsdl:message name="PhieuNhapKhoSVC_PhieuNhapKho_Edit_OutputMessage">
    <wsdl:part name="parameters" element="PhieuNhapKho_EditResponse" />
  </wsdl:message>
  <wsdl:message name="PhieuNhapKhoSVC_PhieuNhapKho_Delete_InputMessage">
    <wsdl:part name="parameters" element="PhieuNhapKho_Delete" />
  </wsdl:message>
  <wsdl:message name="PhieuNhapKhoSVC_PhieuNhapKho_Delete_OutputMessage">
    <wsdl:part name="parameters" element="PhieuNhapKho_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="PhieuNhapKhoSVC_PhieuNhapKho_GetItem_InputMessage">
    <wsdl:part name="parameters" element="PhieuNhapKho_GetItem" />
  </wsdl:message>
  <wsdl:message name="PhieuNhapKhoSVC_PhieuNhapKho_GetItem_OutputMessage">
    <wsdl:part name="parameters" element="PhieuNhapKho_GetItemResponse" />
  </wsdl:message>
  <wsdl:message name="PhieuNhapKhoSVC_PhieuNhapKho_GetItems_InputMessage">
    <wsdl:part name="parameters" element="PhieuNhapKho_GetItems" />
  </wsdl:message>
  <wsdl:message name="PhieuNhapKhoSVC_PhieuNhapKho_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="PhieuNhapKho_GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="PhieuNhapKhoSVC_PhieuNhapKho_GetLatestItem_InputMessage">
    <wsdl:part name="parameters" element="PhieuNhapKho_GetLatestItem" />
  </wsdl:message>
  <wsdl:message name="PhieuNhapKhoSVC_PhieuNhapKho_GetLatestItem_OutputMessage">
    <wsdl:part name="parameters" element="PhieuNhapKho_GetLatestItemResponse" />
  </wsdl:message>
  <wsdl:portType name="PhieuNhapKhoSVC">
    <wsdl:operation name="PhieuNhapKho_Add">
      <wsdl:input wsaw:Action="urn:PhieuNhapKhoSVC/PhieuNhapKho_Add" message="PhieuNhapKhoSVC_PhieuNhapKho_Add_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhieuNhapKhoSVC/PhieuNhapKho_AddResponse" message="PhieuNhapKhoSVC_PhieuNhapKho_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PhieuNhapKho_Edit">
      <wsdl:input wsaw:Action="urn:PhieuNhapKhoSVC/PhieuNhapKho_Edit" message="PhieuNhapKhoSVC_PhieuNhapKho_Edit_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhieuNhapKhoSVC/PhieuNhapKho_EditResponse" message="PhieuNhapKhoSVC_PhieuNhapKho_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PhieuNhapKho_Delete">
      <wsdl:input wsaw:Action="urn:PhieuNhapKhoSVC/PhieuNhapKho_Delete" message="PhieuNhapKhoSVC_PhieuNhapKho_Delete_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhieuNhapKhoSVC/PhieuNhapKho_DeleteResponse" message="PhieuNhapKhoSVC_PhieuNhapKho_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PhieuNhapKho_GetItem">
      <wsdl:input wsaw:Action="urn:PhieuNhapKhoSVC/PhieuNhapKho_GetItem" message="PhieuNhapKhoSVC_PhieuNhapKho_GetItem_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhieuNhapKhoSVC/PhieuNhapKho_GetItemResponse" message="PhieuNhapKhoSVC_PhieuNhapKho_GetItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PhieuNhapKho_GetItems">
      <wsdl:input wsaw:Action="urn:PhieuNhapKhoSVC/PhieuNhapKho_GetItems" message="PhieuNhapKhoSVC_PhieuNhapKho_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhieuNhapKhoSVC/PhieuNhapKho_GetItemsResponse" message="PhieuNhapKhoSVC_PhieuNhapKho_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PhieuNhapKho_GetLatestItem">
      <wsdl:input wsaw:Action="urn:PhieuNhapKhoSVC/PhieuNhapKho_GetLatestItem" message="PhieuNhapKhoSVC_PhieuNhapKho_GetLatestItem_InputMessage" />
      <wsdl:output wsaw:Action="urn:PhieuNhapKhoSVC/PhieuNhapKho_GetLatestItemResponse" message="PhieuNhapKhoSVC_PhieuNhapKho_GetLatestItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>